<template tag-name="account-page">
    
    <div class="container">
        <h2>Welcome to Your Bank</h2>
        <!-- <p>Account Balance: $<span lbind="balance"></span></p> -->

        <h3>Deposit</h3>
        <!-- <input type="text" placeholder="accountNumber" id="accountNumber"/> -->
		<input type="text" value="{{lbind(accountNumber)}}" placeholder="accountNumber">
        <!-- <input type="number" placeholder="Amount" id="depositAmount"/> -->
		<input type="text" value="{{lbind(depositAmount)}}" placeholder="Amount">

        <button onclick="{{action('deposit')}}">Deposit</button>

        <h3>Withdraw</h3>
        <input type="text" value="{{lbind(withdrawAccNumber)}}" placeholder="withdrawAccNumber"/>
        <input type="number" value="{{lbind(withdrawAmount)}}" placeholder="Amount" id="withdrawAmount"/>
        <button onclick="{{action('withdraw')}}">withdraw</button>


        <h3>Transfer</h3>
        <input type="text" value="{{lbind(transferAccNumber)}}" placeholder="accountNumber"/>
        <input type="text" value="{{lbind(recipient)}}" placeholder="Recipient Account"/>
        <input type="number" value="{{lbind(transferAmount)}}" placeholder="Amount"/>
        <button onclick="{{action('transfer')}}">Transfer</button>
    
        <button onclick="{{action('logout')}}">Logout</button>
    </div>

</template>